

sessions = {};
hosts = 	{ 
			["localhost"] = 	{
							type = "local";
							connected = true;
							sessions = {};
						};
			["getjabber.ath.cx"] = 	{
							type = "local";
							connected = true;
							sessions = {};
						};
		}
		
-- If the following is not defined, no SSL will be set up on 5223		
ssl_ctx =	{
			mode = "server",
			protocol = "sslv23",
			
			key = "/home/matthew/ssl_cert/server.key",
    			certificate = "/home/matthew/ssl_cert/server.crt",
    			capath = "/etc/ssl/certs", verify = "none",
    		}
